<!DOCTYPE html>
<html>
    <head>
        <title>Error Page</title>
    </head>
    <body>
        <h1>SQL Injection Vulnerable Application</h1>
        <% if (typeof user !== 'undefined' && user.username) { %>
            <p>Welcome, <%= user.username %>!</p>
        <% } %>
        <h2>Oops! Something went wrong.</h2>
        <p>We're sorry, but an error has occurred. Please try again.</p>
        <!-- error details-->
        <% if (typeof error !== 'undefined') { %>
            <h2>Error Details</h2>
            <p>Error: <%= error.message %></p>
        <% } %>
        <a href="/">Back to Home</a>
    </body>
</html>